*{
  font-size: 16px;
  box-sizing: border-box;
  background-color: transparent;
  font-family: "Helvetica", sans-serif;
}

body{
  background-color: rgb(18, 18, 18);
}

ul{
  margin: 3rem;
  max-width: 1000px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}

li{
  display: flex;
  align-items: center;
  padding: 1rem;
  min-width: 200px;
  list-style: none;
  color: white;
  border-radius: 10px;
}

li img{
  object-fit: contain;
  border-radius: 15px;
  height: 100px;
  width: 100px;
  margin-right: 5rem;

}

li:hover{
  background-color: rgb(43, 43, 43);
}

.info, .info > span{
  font-size: 1.3rem;
}

.info> span{
  margin-left: 0.5rem;
}
.artist{
  color: rgb(188, 188, 188);
  margin-bottom: 0;
}

#content-search{
  width: min(80%, 600px);
  margin: auto;
  margin-top: 2rem;
  border-radius: 20px;
  background-color: rgb(43, 43, 43);
  display: flex;
}

#content-search > *{
  margin-left: 1rem;
  border-style: none;
  color: white;
}

#content-search > *:focus{
  outline: none;
}

#content-search input[type=text]{
  width: 19rem;
}

#content-search input[type=text]::placeholder{
  color: white;
}

#content-search button{
  font-weight: bold;
  color: black;
  background-color: rgb(133, 215, 133);
  margin-left: auto;
  border-style: none;
  border-radius: 20px;
  padding: 1rem 2rem;
}

#content-search button:hover{
  cursor: pointer;
}


