*{
  font-size: 16px;
  box-sizing: border-box;
  background-color: transparent;
  font-family: "Verdana", sans-serif;
  color: white;
}

li{
  list-style: none;
}

body{
  background-color: rgb(18, 18, 18);
  width: 100vw;
  overflow-x: hidden;
}

h2{
  font-size: 1.5rem;
  margin: 2rem;
}




nav{
  height: 6rem;
  margin: 0 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}
#logo{
    font-size: 2rem;
}

nav *{
  font-size: 1.2rem;
}

nav ul{
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

nav ul li, nav ul li a{
  list-style: none;
  text-decoration: none;
}



.search-results{
  margin: 2rem auto;
  max-width: 1000px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.search-item{
  display: flex;
  align-items: center;
  padding: 1rem;
  min-width: 200px;
  list-style: none;
  color: white;
  border-radius: 10px;
}

.search-item img{
  object-fit: contain;
  border-radius: 15px;
  height: 100px;
  width: 100px;
  margin-right: 5rem;

}

.search-item:hover, .track-item:hover{
  background-color: rgb(43, 43, 43);
}

.info, .info > span{
  font-size: 1.3rem;
}

.info> span{
  margin-left: 0.5rem;
}
.artist{
  color: rgb(188, 188, 188);
  margin-bottom: 0;
}

#content-search{
  width: min(80%, 600px);
  margin: auto;
  margin-top: 2rem;
  border-radius: 20px;
  background-color: rgb(43, 43, 43);
  display: flex;
}

#content-search > *{
  margin-left: 1rem;
  border-style: none;
  color: white;
}

#content-search > *:focus{
  outline: none;
}

#content-search input[type=text]{
  width: 19rem;
}

#content-search input[type=text]::placeholder{
  color: white;
}

#content-search button{
  font-weight: bold;
  color: black;
  background-color: rgb(133, 215, 133);
  margin-left: auto;
  border-style: none;
  border-radius: 20px;
  padding: 1rem 2rem;
}

#content-search button:hover{
  cursor: pointer;
}


/*artist page*/
.page{
  gap: 2rem;
  justify-content: flex-start;
  display: flex;
  margin: auto;
  padding: 1rem 3rem;
}

.track-results{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.track-info{
  align-items: center;
  display: flex;
  gap: 2rem;
}

.track-info img{
  border-radius: 5px;
  height: 40px;
  width: 40px;
}

.track-item{
  margin: 0;
  align-items: center;
  max-width: 900px;
  display: flex;
  gap: 0.5rem;
  height: 40px;
  padding: 2rem 1rem;
  border-radius: 10px;
}
.play-count{
  margin-left: auto;
}

.track-item img{
  height: 100%;
}

.discog-results{
  overflow-x: scroll;
  margin: 0;
  display: flex;
  gap: 1rem;
}

.discog-item{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 220px;
  list-style: none;
  gap: 1rem;

}


.discog-item img{
  width: 200px;
}
.discog-item .info{
  margin: 1rem 0;
}


.artist-list{
  display: flex;
  gap: 1.5rem;
}

.artist-item{
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.artist-item img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
}

.artist-info{
  font-size: 1rem;
}

.profile{
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.profile img{
  border-radius: 25px;
  width: 300px;
}

.profile h1{
  font-size: 4rem;
  margin: 1rem;
}


.stats .number{
  font-size: 3rem;
  margin-left: 1rem;
  margin-top: 0rem;
  font-weight: bold;
  font-family: "Trebuchet MS"
}

.stats p{
  font-size: 1.2rem;
  color: rgb(196, 196, 196);
}

.stats{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/*album search page*/

.track-preview{
  margin-left: auto;
}

.tracklist{
  gap: 6vw;
}

.whomadeit{
  font-size: 2rem;
  margin: 0;
}

.other-stats{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stat{
  align-items: left;
}

.stat .number{
  margin: 0;
}

.discography{
  margin: 0 auto;
  margin-left: 0;
}



